.character-card {
    margin: 5rem;
    overflow: hidden;
    
}

.character-card > * {
    margin: 0rem 2rem;
}

.details {
    max-width: fit-content;
    padding: 0 2rem;
    font-size: x-large;
    color:black;
    border: 2px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    margin-top: 1rem;

}
.text-title {
    vertical-align: middle !important;
}
.parent {
    display: flex;
    flex-direction: column;
}

.child {
    margin-top: auto;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .character-card  {
        max-width: fit-content;
        margin: 1rem 0rem;
        display: inline-grid;
    }

    .child {
        max-height: 10rem;
    }

}
