.character-card {
    margin: 5rem;
    overflow: hidden;
    display: flex;
}

.character-card > * {
    margin: 0rem 2rem;
}

@media screen and (max-width: 599px) {
    .character-card  {
        margin: 1rem;
    }

}
