
  .like-button {
    background: none;
    display: inline-block;
    position: relative;
    font-size: 32px;
    cursor: pointer;
  }
  .like-button::before {
    font-size: 4rem;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .like-button::after {
    font-size: 5.5rem;
    text-shadow: none;
    color: #ff3252;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
  }
  .like-button.liked::after {
    text-shadow: none;
    transform: translate(-50%, -50%) scale(1.1);
  }
  